
        body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    display: flex;
    flex-wrap: wrap; /* Prevent containers from wrapping to the next line */
    justify-content: flex-start; /* Align containers to the left */
}

.container {
     flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
    max-width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444; /* Slightly darker background color */
}
        
     
    .typicalCode {
    
    max-width: 400px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444; /* Slightly darker background color */
}

        .fa-copy
        {
        color: #fff;
        float:right;
        font-size:16px
        }
        
        .fa-copy:hover
        {
        color: grey;
        }
 
    
h1 {
    text-align: center;
    color: #fff; /* Light text color */
}
        
input {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    background-color: #444; /* Slightly darker background color */
    color: #fff; /* Light text color */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

  .input-group {
position: relative;
}

.input-group__input {
color: #fff;
padding: 10px;
border: none;
border-radius: 4px;
outline: 2px solid #fff;
background-color: transparent;
transition: outline-color 250ms;
}

.input-group__input:focus {
outline-color: #3c50eb;
}

.input-group__label {
position: absolute;
top: 20px;
left: 10px;
color: #fff;
transition: transform 250ms, scale 250ms;
}

.input-group__input:hover + .input-group__label {
  padding-inline: 5px;
  transform: translate(1px, -14px) scale(0.9);
  top: 8px;
  background-color: transparent;
}

.input-group__input:focus + .input-group__label,
.input-group__input:valid + .input-group__label {
padding-inline: 5px;
transform: translate(1px, -14px) scale(0.9);
top: 8px;
background-color: transparent;
}


.code {
    font-family: "Courier New", monospace;
    background-color: #202020;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    font-size: 12px;
    color: #fff;
    white-space: pre-wrap;
}

.language-html .keyword {
    color: #f92672; 
}

.language-html .string {
    color: #e6db74; 
}

.language-html .comment {
    color: #999; 
}

.language-html .variable {
    color: #f92672; 
}

.language-html .number {
    color: #ae81ff; 
}
        
.language-html .scriptTag{
    color: #f92672; 
}
        
.language-html .var-name{
    color: #fd971f; 
}  

.language-html .function{
    color: #a6e22e; 
} 

.language-html .function-name{
    color: #fd971f; 
}         
